@import '../../mixins/mixins.scss';
@import 'https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400;500&display=swap';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute !important;
    top: 465px !important;
    color: #1D212A !important;
}

.swiper-button{
    position: absolute !important;
    width: 120px !important;
    right: 50px;
}

.swiper_title{
    padding: 0 15px;

    h5{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #B6BFD9;
        margin-top: 65px;
    }

    h2{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: #1D212A; 
        margin: 8px 0;
    }

    p{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #565A65;
        margin-bottom: 110px;
    }

    .h2_large{
        display: none;
    }

    .h5_large{
        display: none;
    }

    .p_large{
        display: none;
    }
}

.swiper_background{
    margin: 0 3%;
    height: 475px;
    background-color: #F9FAFC;
    border-radius: 8px;
}

.swiper_body{
    position: relative;
    top: -50px;
}

.swiper_slide{
    padding: 32px 24px 20px 24px;
    max-width: 255px;
    min-height: 420px;
    background-color: #FFFFFF;
    border-radius: 8px;
    position: relative;

    h5{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        color: #1D212A;
        margin: 16px 0;
    }

    p{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #565A65;
        margin-bottom: 24px;
        min-height: 120px;
    }

    .generate{
        display: inline-block;
        padding: 12px 66px;
        border-radius: 8px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #1D212A;
        position: relative;
        transition: 0.5s;
        margin-bottom: 5px;

        &::after{
            content: '';
            width: 2px;
            height: 8px;
            transform: rotate(45deg);
            background: #32D989;
            position: absolute;
            top: 23px;
            left: 155px;
        }

        &::before{
            content: '';
            width: 2px;
            height: 8px;
            transform: rotate(-45deg);
            background: #32D989;
            position: absolute;
            top: 19px;
            left: 155px;
        }

        &:hover{
            background: #8770FF;
            color: white;
            transition: 0.5s;
    
            &::before{
                display: none;
            }
    
            &::after{
                display: none;
            }
        }
    }

    .learn_more{
        display: block;
        padding: 12px 61px 12px 54px;
        border-radius: 8px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #1D212A;
        position: relative;
        transition: 0.5s;

        &::after{
            content: '';
            width: 2px;
            height: 8px;
            transform: rotate(45deg);
            background: #32D989;
            position: absolute;
            top: 23px;
            left: 155px;
        }

        &::before{
            content: '';
            width: 2px;
            height: 8px;
            transform: rotate(-45deg);
            background: #32D989;
            position: absolute;
            top: 19px;
            left: 155px;
        }

        &:hover{
            background: #8770FF;
            color: white;
            transition: 0.5s;
    
            &::before{
                display: none;
            }
    
            &::after{
                display: none;
            }
        }
    }
}

.swiper_title{
    @include respond-to(medium) {
        h5{
            font-size: 18px;
        }

        h2{
            font-size: 48px;
            max-width: 540px;
        }

        p{
            font-size: 16px;
            max-width: 350px;
        }
    }
}

.swiper_background{
    @include respond-to(medium) {
        .swiper_body{
            padding: 0;
        }
    }
}

.swiper_title{
    @include respond-to(large) {
        max-width: 960px;
        margin: 0 auto;
        .h2_medium{
            display: none;
        }
        
        .h2_large{
            display: inline-block;
            font-size: 48px;
        }
        
        .h5_medium{
            display: none;
        }
        
        .h5_large{
            display: block;
            font-size: 18px;
        }
        
        .p_medium{
            display: none;
        }
        
        .p_large{
            display: inline-block;
            font-size: 16px;
            max-width: 310px;
        }
    }
}

.swiper_background{
    @include respond-to(large) {
        margin: 0 auto;
        max-width: 1120px;
        margin-bottom: 152px;
        .swiper_body{
            max-width: 1020px;
            margin: 0 auto;
        }
    }
}