body {
    width:1920px;
}
* {
    margin:0;
}
.wrapper_background_selection {
   background-image: url('./assets/Hero\ image\ backgruund.svg');
   background-repeat: no-repeat;
   height: 862px;
   width: 1920px;
}
